---
import type { GetStaticPaths } from "astro";
import { getCollection, render } from "astro:content";
import MainLayout from "../../layouts/MainLayout.astro";
import Title from "src/components/ui/Title.astro";

export const getStaticPaths = (async () => {
  const projects = await getCollection("projects");

  return projects.map((project) => ({
    params: { id: project.slug },
    props: { project },
  }));
}) satisfies GetStaticPaths;

const { project } = Astro.props;
const { data } = project;
const { name, image, highlights, repo, live, stack } = data;

const { Content } = await render(project);
---

<MainLayout title={name}>
  <main
    class="max-w-[1280px] mx-auto dark:bg-[radial-gradient(#e5e7eb_1px,transparent_1px)] bg-[radial-gradient(#000000_1px,transparent_1px)] [background-size:16px_16px] px-12"
  >
    <section
      id="home"
      class="text-slate-900 dark:text-slate-100 flex flex-col lg:flex-row justify-center lg:justify-around items-center gap-24 min-h-screen px-4"
    >
      <div
        class="grid grid-cols-6 grid-rows-9 gap-4 w-full *:border-[3px] *:border-slate-900 *:rounded"
      >
        <div class="col-span-2 row-span-3 overflow-hidden">
          <img
            class="lg:max-w-96 w-full"
            src={`${image}`}
            alt={name}
            transition:name={`project-${name}`}
          />
        </div>
        <div class="col-span-2 row-span-3 col-start-1 row-start-4">2</div>
        <div class="col-span-2 row-span-3 col-start-1 row-start-7">QR CODE</div>
        <div class="col-span-2 row-span-2 col-start-3 row-start-1">
          Stack Tecnológico
        </div>
        <div
          class="col-span-2 row-span-5 col-start-3 row-start-3 border-none flex items-center justify-center"
        >
          <Title title={name} />
        </div>
        <div class="col-span-2 row-span-2 col-start-3 row-start-8">6</div>
        <div
          class="col-span-2 row-span-9 col-start-5 row-start-1 bg-slate-100 prose p-6 flex flex-col items-center justify-center"
        >
          <Content />
        </div>
      </div>
    </section>
  </main>
</MainLayout>
